/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
/* font-family: 'Lilita One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&display=swap");
/* font-family: 'Lobster', cursive; */

/*Global*/
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(155, 198, 233);
    
}

/*header*/

        /*Hamburger menu*/
        

        
h1{
    font-size: 60px;
    font-family: 'Lilita One', Cursive;
    color: white;
    margin: 0;
    margin-left: 15px;
}
.contactBar{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contactBar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.contactBar ul li{
    display: inline;
    margin-right: 65px;
    align-items: center;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: ease 0.3s, color 0.3s, box-shadow 0.3s;
}

a:hover{
    color: rgb(240, 240, 155);
    
}


/*Image section*/
#midSection{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 150px;
    flex-direction: row-reverse;
}

.textSection{
    background-color: rgb(31, 31, 128);
    height: 368px;
    color: rgb(253, 252, 252);
    text-align: center;
    padding: 20px;
    border-radius: 15px 0px 0px 50px;
    box-shadow: 0px 12px 105px rgb(56, 149, 224);
    font-size: 20px;
    line-height: 30px;
    /* font-weight: bold; */
}

.top{
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr.hrColor{
    border: none;
    border-top: 10px dotted rgb(6, 91, 160);
    width: 30%;
    margin: auto;
    margin-top: 45px;
}

.bottom{
    margin-top: 40px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(240, 240, 155);
    font-size: 25px;
    line-height: 35px;
    font-style: italic;
}

img{
    border-radius: 0px 50px 15px 0px;
    box-shadow:55px 12px 105px rgb(56, 149, 224);
}
.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
  .down-arrow {
    animation: jumpInfinite 1.5s infinite;
  }

/*Dinner Generator*/
.generator{
    background-color: white;
    margin-top: 200px;
}

h2{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Lobster', cursive; 
    font-size: 50px;
    padding: 50px;
}
.generator section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.startedColor{
    margin-left: 9px;
}

.generator {
    text-align: center;
}

.header {
    margin-bottom: 20px; 
}

.section-title {
    font-size: large;
    margin-top: 20px;
}

#addToList{
    border: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#newDinnerBtn{
    background-color: rgb(240, 240, 155);
    padding: 10px 50px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: ease 0.3s, background-color 0.3s;
}

#newDinnerBtn:hover{
    background-color: rgb(136, 136, 80);
    cursor: pointer;
}

#dinnerBtn{
    background-color: rgb(56, 149, 224);
    padding: 10px 45px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
    transition: ease 0.3s, background-color 0.3s, color 0.3s;
}

#dinnerBtn:hover{
    background-color: rgb(36, 74, 105);
    color: beige;
    cursor: pointer;
}

#dinnerTime{
    border: 2px dashed rgb(170, 169, 169);
    border-radius: 15px;
    padding: 20px;
}


.card-container {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 70px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 350px;
    width: 300px;
    transition: ease 0.3s, color 0.2s, background-color 0.3s, border 0.3s, transform 0.3s;
}

.card:hover{
    transform: scale(1);
    background-color: rgb(240, 240, 228);
    color: rgb(255, 255, 255)
}

.card:last-child {
    margin-right: 0;
}

#lunchTime{
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
    color: white;
}


.material-symbols-outlined {
    font-size: 50px !important; /*!important forces the font size to change*/
    padding-bottom: 25px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Footer*/

footer{
    padding-top: 80px;
    padding-bottom: 60px;
}
.footerDetails ul{
    display: flex;
    justify-content: center;
    /* margin-right: 50px; */
}

.fa-brands{
    margin-right: 50px;
    align-items: center;
}

/*Mobile phone and tablet screens*/
@media screen and (max-width: 768px){
    .contactBar ul{
        display: none;
        
    }
    .hamburgerButton{
        display: block;
    }
}