/*Google Fonts*/
@import url();

/*Global*/
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(155, 198, 233);
}

/*header*/
h1{
    font-size: xx-large;
}
.contactBar{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contactBar ul{
    list-style-type: none;
}
.contactBar ul li{
    display: inline;
    margin-right: 20px;
}

/*Image section*/
#midSection{
    display: flex;
    width: 50%;
    margin: auto;
}

.textSection{
    background-color: rgb(31, 31, 128);
    height: 368px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px 0px 0px 50px;
    box-shadow: 0px 10px 85px rgb(59, 59, 59);
}
.hrColor{
    background-color: darkgray;
    height: 2px;
    border: none;
}

img{
    border-radius: 0px 50px 15px 0px;
    box-shadow: 0px 10px 85px rgb(59, 59, 59);
}

/*Dinner Generator*/
.generator{
    background-color: white;
    margin-top: 100px;
}

h2{
    display: flex;
    justify-content: center;
    color: rgb(18, 75, 40);
}
.generator section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.startedColor{
    margin-left: 9px;
}

.generator {
    text-align: center;
}

.header {
    margin-bottom: 20px; 
}

.section-title {
    font-size: large;
    margin-top: 20px;
}

.card-container {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 350px;
    width: 300px;
}

.card:last-child {
    margin-right: 0;
}


