*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* applies linear gradient to entire page */
/* --------- */
html, body{
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom right, rgb(102, 158, 204), white);
    margin: 0;
}
/* ---------- */
/* applies linear gradient to entire page */

h1{
    font-size: xx-large;
}
.contactBar{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contactBar ul{
    list-style-type: none;
}
.contactBar ul li{
    display: inline;
    margin-right: 20px;
}

#midSection{
    display: flex;
    width: 50%;
    margin: auto;
}

#midSection p{
    background-color: rgb(31, 31, 128);
    height: 368px;
    color: white;
    text-align: center;
    padding: 20px;
}
