*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(155, 198, 233);
}


h1{
    font-size: xx-large;
}
.contactBar{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contactBar ul{
    list-style-type: none;
}
.contactBar ul li{
    display: inline;
    margin-right: 20px;
}

#midSection{
    display: flex;
    width: 50%;
    margin: auto;
}

.textSection{
    background-color: rgb(31, 31, 128);
    height: 368px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px 0px 0px 50px;
    box-shadow: 0px 10px 85px black;
}
.hrColor{
    background-color: darkgray;
    height: 2px;
    border: none;
}

img{
    border-radius: 0px 50px 15px 0px;
    box-shadow: 0px 10px 85px black;
}

.generator{
    background-color: white;
}

h2{
    display: flex;
    justify-content: center;
    color: rgb(18, 75, 40);
}

.startedColor{
    margin-left: 9px;
}